<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos :: cabecalho('Cadastrar Pátio')}" />
  <body>
	  
	  <div th:replace="~{fragmentos :: form-logout}" />
	  
    <div class="container">
        <div class="row">
            <h1>Cadastrar Pátio</h1>
        </div>
        <div class="row">
            
            <form th:object="${andar}" action="/insere_patio" method="post">
            	
            	Número do pátio: <input class="form-control" type="number" th:field="*{numero_andar}"><br>
				Andar:
				            	<select class="form-select" th:name="'andar_id'">
				            		<option th:each="andar : ${lista_andares}" th:value="${andar.id}" th:text="${andar.numero_andar}" />
				            	</select>
								
            	<button type="submit">Cadastrar Pátio</button>
            </form>
            
        </div>
        <div class="row">
            <a href="/index">Voltar à página inicial</a>
        </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>