<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: cabecalho('Detalhes da Moto')}" />

<body>
	
	<div th:replace="~{fragmentos :: form-logout}" />
	
	<div class="container">
		<div class="row">
			<h1>Detalhes da Moto</h1>
		</div>
		<div class="row">
			<div class="col-12">
				<table class="table table-hover">

					<tr>
						<td>Modelo</td>
						<td><span th:text="${moto.modelo}"></span></td>
					</tr>
					<tr>
						<td>Marca</td>
						<td><span th:text="${moto.marca}"></span></td>
					</tr>
					<tr>
						<td>Placa</td>
						<td><span th:text="${moto.placa}"></span></td>
					</tr>
					<tr>
						<td>Chassi</td>
						<td><span th:text="${moto.chassi}"></span></td>
					</tr>
					<tr>
						<td>Status</td>
						<td><span th:text="${moto.status}"></span></td>
					<tr>
						<td>Vaga</td>
						<td><span th:text="${moto.vaga.numero_vaga}"></span></td>
					</tr>

				</table>
			</div>
		</div>
		<div class="row">
			<a href="/moto/index"><span th:text="#{lista_motos}"></span></a>
		</div>
	</div>

	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
		crossorigin="anonymous"></script>
</body>

</html>