<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos :: cabecalho('Editar Bloco')}" />
  <body>
	  <div th:replace="~{fragmentos :: form-logout}" />
    <div class="container">
        <div class="row">
            <h1>Editar Bloco</h1>
        </div>
        <div class="row">
            
            <form th:object="${bloco}" th:action="@{/atualizar_bloco/{id}(id = ${bloco.id})}" method="post">
            	Letra do Bloco: <input class="form-control" type="text" th:field="*{letra_bloco}" th:errorclass="is-invalid">
            	<div class="invalid-feedback" th:errors="*{letra_bloco}"></div><br>
            	Pátio:
				            	<select class="form-select" th:field="*{patio}">
				            		<option th:each="patio : ${lista_patios}" th:value="${patio.id}" th:text="${patio.numero_patio}" />
				            	</select>
								
            	<button type="submit">Editar Bloco</button>
            </form>
            
        </div>
        <div class="row">
            <a href="/bloco/index">Listar blocos</a>
        </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>